@keyframes pulsingSparkle {
  0%,
  100% {
    opacity: var(--base-opacity);
  }
  50% {
    opacity: calc(var(--base-opacity) * 0.05);
  }
}

@keyframes risingSparkle {
  0% {
    transform: translateY(110vh);
  }

  100% {
    transform: translateY(-10vh);
  }
}

@keyframes floatingSparkle {
  0%,
  100% {
    translate: calc(var(--base-floating) * -1px) 0;
  }

  50% {
    translate: calc(var(--base-floating) * 1px) 0;
  }
}
