@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  /* Fonts */
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-cormorant);

  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-2xl: calc(var(--radius) + 4px);
  --radius-3xl: calc(var(--radius) + 6px);
  --radius-4xl: calc(var(--radius) + 8px);
}

:root {
  --radius: 0.75rem;

  --background: rgb(14, 12, 10);
  --foreground: rgb(245, 239, 228);

  --card: rgb(21, 18, 13);
  --card-foreground: rgb(245, 239, 228);

  --popover: --card(rgb(21, 18, 13));
  --popover-foreground: rgb(245, 239, 228);

  --primary: rgb(214, 176, 116);
  --primary-foreground: rgb(28, 20, 8);

  --secondary: rgba(245, 245, 245, 0.02);
  --secondary-foreground: rgb(214, 176, 116);

  --muted: rgb(28, 25, 23);
  --muted-foreground: #b7ab94;

  --accent: rgb(214, 176, 116);
  --accent-foreground: rgb(235, 211, 160);

  --destructive: rgb(231, 0, 11);

  /* Borders */
  --border: rgb(232, 214, 178);
  --input: rgb(229, 229, 229, 0.4);
  --ring: rgb(214, 176, 116);

  --gold-light: rgb(235, 211, 160);
  --gold-dark: rgb(201, 156, 86);
}

.dark {
  --radius: 0.75rem;

  --background: rgb(14, 12, 10);
  --foreground: rgb(245, 239, 228);

  --card: rgb(21, 18, 13);
  --card-foreground: rgb(245, 239, 228);

  --popover: rgb(21, 18, 13);
  --popover-foreground: rgb(245, 239, 228);

  --primary: rgb(214, 176, 116);
  --primary-foreground: rgb(28, 20, 8);

  --secondary: rgba(245, 245, 245, 0.02);
  --secondary-foreground: rgb(245, 239, 228);

  --muted: rgb(21, 18, 13);
  --muted-foreground: rgb(183, 171, 148);

  --accent: rgb(214, 176, 116);
  --accent-foreground: rgb(214, 176, 116);

  --destructive: rgb(231, 0, 11);

  /* Borders */
  --border: rgb(232, 214, 178);
  --input: rgb(229, 229, 229, 0.4);
  --ring: rgb(214, 176, 116);

  --gold-light: rgb(235, 211, 160);
  --gold-dark: rgb(201, 156, 86);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
    font-size: 15px;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

@utility bg-gold-gradient {
  background-image: linear-gradient(90deg, var(--gold-light), var(--gold-dark));
}

@utility bg-plain-gradient {
  background-image: linear-gradient(90deg, var(--gold-dark), var(--gold-dark));
}
